body {
    background: rgba(105, 159, 163, 0.97);
    color: #fff; 
    font-family: "Poppins";
  }
  
  .weather-app {
    background: #111; /* Dark gray background */
    margin: 100px auto;
    width: 650px;
    height: 400px;
    flex-shrink: 0;
    padding: 30px;
    border-radius: 32px;
    background: linear-gradient(113deg, #2AD4CA 32.23%, #333 67.37%);
  }
  
  .search-input,
  .search-button {
    border: none;
    border-radius: 6px;
  }
  
  .search-input {
    background-color: #fff; 
    padding: 15px;
    width: 80%;
    opacity: 0.7;
  }
  
  .search-button {
    margin-left: 15px;
    padding: 15px;
    cursor: pointer;
    background-color: #2AD4CA ;
    color: #111;
  }
  
  main {
    padding: 30px 0;
  }
  
  .current-temperature {
    color: #F2F1F1;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    margin-left: 200px;
  }
  
  .current-weather {
    display: flex;
    justify-content: space-between;
  }
  
  .current-city {
    color: rgba(255, 255, 255, 0.97);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .current-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
  }

  .details{
    visibility: hidden;
  }
  
  .current-details {
    color: #f65282;
    font-family: Poppins;
  }
  
  .current-temperature-value {
    font-size: 80px;
    font-weight: bold;
  }
  
  .current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -38px;
  }
  
  footer {
    border-top: 1px solid #444;
    text-align: center;
    padding-top: 15px;
  }
  
  #current-date{
    color: rgba(255, 255, 255, 0.97);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }